*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    max-width: 100%;
}
ul,
ol,
menu {
	list-style: none;   
}
a{
    text-decoration: none;
    color: #ffffff; 
}
.container{
    max-width: 827px;
    padding: 10px 30px;
    margin: 0 auto;  
}
.row{
    display: flex;
                       
}
.justyfy{
    justify-content: space-between;
}
.main-header .row {
	align-items: center;
}
.container-small{
    max-width: 827px;
    margin: 0 auto;
    padding: 25px 110px 5px 110px;
    text-align: center;   
    font-size: 14px;   
}
.section{
    padding: 50px ;
}
.t{
    padding-right: 20px;
    color: #ffffff; 
    font-size: 12px; 
}
.logo{
    width: 100px;
}
.accedi{
     border-radius: 15px;
    border: 9px solid #ffffff;
    background-color:#ffffff;
    text-align: center; 
    font-size: 12px;
     
}
.main-header{
    background-color: #255ee9;
}
.start{  
    background-size: cover;
   
    height: 300px;
   
             
}
.main-content{
    max-width: 827px;
   
}
.h11{
    font-size: 35px;
    color:aliceblue;
    padding-bottom: 10px;   
}
.p11{
    color: aliceblue;   
}
.mac{
    margin-top: 10px;
    border-radius: 15px;
    border: 6px solid #ffffff;
    background-color:#ffffff;
    text-align: center;
    padding-right: 5px;
    font-size: 14px;

}
.bottoni{
    padding-top: 10px;
}
.apri{
    margin-top: 10px;
    border-radius: 15px;
    border: 6px solid #23272a;
    background-color:#23272a;
    text-align: center;
    color: #ffffff;
    font-size: 14px;
}
.col-40 {
	flex-basis: 40%;

}

.col-60 {
	flex-basis: 60%;
}
.font{
    font-size: 14px;
    padding-top: 15px;
    

}

.col-40 {
	flex-basis: 40%;
}

.col-60 {
	flex-basis: 60%;
}
.grey{
    background-color:  #d3d3d3;
}
.row-reverse {
	flex-direction: row-reverse;
}
.padding{
    padding-top: 30px;
}
.col-100 {
	flex-basis: 100%;
}
.title1{
    text-align: center;
}