*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    max-width: 100%;
}
ul,
ol,
menu {
	list-style: none;   
}
a{
    text-decoration: none;
    color: #ffffff; 
}
.container{
    max-width: 827px;
    padding: 10px 30px;
    margin: 0 auto;  
}
.row{
    display: flex;
                       
}
.justyfy{
    justify-content: space-between;
}
.main-header .row {
	align-items: center;
}
.container-small{
    max-width: 827px;
    margin: 0 auto;
    padding: 30px 130px 5px 130px;
    text-align: center;      
}
.section{
    padding: 50px ;
}
.t{
    padding-right: 20px;
    color: #ffffff;  
}
.logo{
    width: 100px;
}
.accedi{
     border-radius: 15px;
    border: 9px solid #ffffff;
    background-color:#ffffff;
    text-align: center;  
}
.main-header{
    background-color: #255ee9;
}
.start{  
    background-size: cover;
   
    height: 300px;
   
             
}
.main-content{
    max-width: 827px;
   
}
#h1{
    font-size: 35px;
    color:aliceblue;
    padding-bottom: 10px;   
}
#p1{
    color: aliceblue;   
}
.mac{
    margin-top: 10px;
    border-radius: 15px;
    border: 6px solid #ffffff;
    background-color:#ffffff;
    text-align: center;
    padding-right: 5px;

}
.bottoni{
    padding-top: 10px;
}
.apri{
    margin-top: 10px;
    border-radius: 15px;
    border: 6px solid #23272a;
    background-color:#23272a;
    text-align: center;
    color: #ffffff;
}
